node_modules/
dist/
build/
.cache/
contract-examples/*/managed/
contract-examples/*/dist/
contract-examples/*/node_modules/
contract-examples/*/keys/
tests/contracts/managed/
package-lock.json
*.compact
